@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #181818;
}

body {
  min-height: 100vh;
}

.home,
.shop,
.cart {
  margin-top: 10em;
  text-align: center;
}

.link {
  color: whitesmoke;
}

.link:hover {
  text-decoration: none;
}
