@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #181818;
}

body {
  min-height: 100vh;
}

.home,
.shop,
.cart {
  margin-top: 10em;
  text-align: center;
}

.home-text {
  font-size: 3rem;
  font-weight: 500;
  padding: 1.5em;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.title-link {
  text-decoration: none;
  color: white;
}

.title-link:hover {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.1);
}

.visit-link {
  transition: all linear 0.5s;
}

.visit-link:hover {
  cursor: pointer;
}

.active {
  font-weight: bolder;
}
